#country-selector {
  height: 50%;
  border: 3px solid orange;
}

.country-selector-header {
  height: 10%;
}

.country-selector-body {
  height: 85%;
  overflow-y: scroll;
}

.country-selector-item {
  padding: 3px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
