#crop-selector {
  height: 48.5%;
  border: 3px solid orange;
}

#crop-selector-header {
  height: 10%;
}

#crop-selector-body {
  height: 84.5%;
  overflow-y: scroll;
}

.crop-selector-item {
  padding: 3px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
