<div class="body">
    <div class="container">
  
        <div class="selectors-container">
    
            <app-country-selector
                (countriesSelectedEvent)="OnCountriesSelected($event)" 
            />
    
            <app-crop-selector
                (cropSelectedEvent)="OnCropSelected($event)"
            />
            
        </div>
    
        <div id="linechart-container">
  
          <app-line-chart 
              [chartData]="lineChartData" 
              [currentCrop]="selectedCrop"
          />
          
        </div>
    </div>
</div>