.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  border: 3px dashed cyan;
}

.canvasContainer {
  margin: auto;
  height: 100%;
  max-width: 70%;
  flex: 2 1 auto;
  border: 3px solid red;
}
