.body {
  margin: auto;
  height: 90vh;
}

.container {
  width: 100%;
  display: flex;
  border: 3px solid black;
}

#selectors-container {
  width: 25%;

  border: 3px dashed purple;
}

#linechart-container {
  width: 75%;

  border: 3px solid pink;
}
