<!-- <router-outlet /> -->
<div class="body">
    <p>Hello world, {{title}} here.</p>
    
    <div class="container">

        <div id="selectors-container">
    
            <app-country-selector
                [selectableCountries]="selectableCountries" 
                (countriesSelectedEvent)="OnCountriesSelected($event)" 
            />
    
            <app-crop-selector />
            
        </div>
    
        <app-line-chart 
            [chartData]="lineChartData" 
        />

    </div>


</div>